.selection {
    height: 800px;
    width: 80%;
    background-color: rgba(230, 230, 230, 0.753);
    position: absolute;
    left: 10%;
    padding: 20px;
    top: calc(50% - 400px);
}

.test-select {
    padding: 20px 20px;
}

.test-select__container {
    margin: 0px 0px;
    display: flex;
    flex-direction: row;
}

.test-select__container div {
    margin-right: 10px;
}